<% layout("/layout/boilerplate") %>

<body style="background-color: #CADCFC;">

    <div class="container" style="height: 600px;width: 50%; background-color: #89ABE3; margin-top: 30px; margin-bottom: 8%;border-radius: 20px;">
        <form method="POST" action="/add" novalidate class="needs-validation">
            <div class="mb-3" >
                <label for="title" class="form-label" style="margin-top: 20px;"><b>Title:</b> </label>
                <input type="text"  class="form-control" id="title" placeholder="Enter place title..." aria-describedby="emailHelp" required name="list[title]" >
            </div>
            <div class="mb-3">
                <label for="description" class="form-label"><b>Descrption:</b> </label>
                <input type="text"  class="form-control" id="description" placeholder="Add description of image..." aria-describedby="emailHelp"  name="list[description]">
             </div>   
            
            <div class="mb-3">
                <label for="image" class="form-label"><b>Image URL:</b> </label>
                <input type="text"  class="form-control" id="image" placeholder="Enter image url..." aria-describedby="emailHelp" required name="list[image]">
             </div>   
            
             <div class="price-location-contain" style="display: flex; justify-content: space-between;">
                <div class="col-md-5">
                    <label for="price" class="form-label"><b>Price: &#x20B9;</b> </label>
                    <input type="number"  class="form-control" id="price" placeholder="Enter price of one night..." required name="list[price]">
                  </div>
                  <div class="col-md-5">
                    <label for="location" class="form-label"><b>Location:</b> </label>
                    <input type="text"  class="form-control" id="location" placeholder="Enter location..." required name="list[location]">
                  </div>
             </div>
            
             <div class="country-contain" style="width: 100%; display: flex; justify-content: center;margin-top: 40px;">
                <div class="row mb-4">
                    <label for="country" class="col-sm-2 col-form-label"><b>Country:</b> </label>
                    <div class="col-sm-12">
                      <input type="text"  class="form-control" id="country" placeholder="Enter country name..." required name="list[country]">
                    </div>
                  </div>
             </div>
            
            <div class="submit-btn" style="display: flex; justify-content: center;" >
                <button style="width: 45%; border-radius: 20px; margin-top: 40px;" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
    
</body>
</html>