<footer class="foot">

    <div class="card text-center">
        <div class="card-header">
            <a href="/wanderlust/info"><i class="fa-solid fa-earth-americas"><span>WANDERLUST</span></i></a>
        </div>
        <div class="card-body">
          <h2 class="card-title">Contact Us</h2>
          <br/>
          <a href="#"><span>Phone no: </span>9817909XXX</a><br>
          <a href="#" ><span>Consumer Complaints: </span>8909754XXX</a><br>
          <a href="#"><span >Email: </span>wanderlust@gmail.com</a><br>
          
        </div>
        <div class="card-footer text-body-secondary">
            <a href="#"> <i class="fa-brands fa-facebook"></i></a>
            <a href="#"> <i class="fa-brands fa-instagram"></i></a>
            <a href="#"> <i class="fa-brands fa-twitter"></i></a>
            <a href="#"> <i class="fa-brands fa-whatsapp"></i></a>
            
            
            
            
        </div>
      </div>

</footer>